.image_parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 20%;
  border-radius: 5px;
}

.image2 {
  position: absolute;
  bottom: 35px;
  right: 30px;
  border-radius: 10px;
}

.main_container2 {
  float: left;
}

.image3 {
  position: relative;
  position: absolute;
  top: 70px;
  left: 575px;
  border: 1px green solid;
  border-radius: 10px;
}

.main_container {
  position: inherit;
  width: 380px;
  float: right;
}

.main_text{
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
}

.modleButton{
    background: rgb(242, 138, 3);
    color: #fff;
    padding: 14px 25px;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 25px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}