.main_container{
    background-image: url(../../asserts/bg_shape_courses.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.header-div{
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}


.course_main{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: 130px;
   gap: 15px;
}

   

.gdiv{
  
   width: 225px;
   border: 2px solid red;
   flex-wrap: wrap;
background-color: aliceblue;
}


.center_img{
    text-align: center;
    background-color: blue;
    width:150px;
    height: 200px;
    margin: 30px;
    font-size: 10px;
}



.choose_main{
       display: grid;
       grid-template-columns: 250px 250px;
       gap: 20px;
}

.choose_img{
    width: 50px;
}

.div1{
    float: left;
    margin-left: 40px;
    display: absolute;
}

.div2{
    float: right;
    display: relative;
}
.secdiv{
    clear: both;
    margin: 10px;
}

.cdiv1{
    background-color: rgb(255, 200, 0);
    color: #fff;
}

.cdiv2{
    background-color: rgb(0, 255, 13);
    color: #fff;
}

.cdiv3{
    background-color: rgb(255, 0, 0);
    color: #fff;
}

.cmain2{
    display: grid;
    grid-template-columns: 455px ;
    margin-left: 20px ;
    float: right;
   
}
.cmain1{
    float: left;
    clear: both;
    display: relative;

}

.centered {
    position: absolute;
    bottom: -220%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .divfinal{
    clear: both;
    text-align: center;
  }

  .sylabusdiv{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 50px;
    grid-gap: 5px;
  }