table {
    width: 800px;
    height: 200px;
    /* border-collapse: collapse; */
    
     border: 2px solid rgb(11, 11, 11);
  }
  
  th {
    border-bottom: 1px solid black;
    border: 2px solid rgb(11, 11, 11);
    background-color: black;
    color: aliceblue;
  }
  
  td {
    text-align: center;
    border: 2px solid rgb(250, 244, 244);
  }


  .tablediv{
    text-align: center;
    margin-left: 230px;
  }